<script> var loan = <%- JSON.stringify(loan)%> </script>
<div ng-controller="PaymentController">
  <form name="myForm" sf-schema="schema" sf-form="form" sf-model="model" ng-submit="onSubmit(myForm)"></form>
</div>
