<!DOCTYPE html>
<html ng-app="natillera">
  <head>
    <title>Natillera Álvaro y Maria Angélica</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--STYLES END-->
  </head>

  <body ng-cloak>
    <%- body %>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/objectpath/lib/ObjectPath.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/tv4/tv4.js"></script>
    <script src="/bower_components/angular-schema-form/dist/schema-form.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/bower_components/angular-schema-form-bootstrap/bootstrap-decorator.min.js"></script>
    <script src="/bower_components/angular-schema-form/dist/bootstrap-decorator.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/app/app.js"></script>
    <script src="/js/app/controllers/IndexController.js"></script>
    <script src="/js/app/controllers/MemberController.js"></script>
    <script src="/js/app/controllers/QuotaController.js"></script>
    <script src="/js/app/http.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
