<script> var quotasOwed = <%- JSON.stringify(quotas)%> </script>
<div ng-controller="QuotaController">
  <form name="myForm" sf-schema="schema" sf-form="form" sf-model="model" ng-submit="onSubmit(myForm)"></form>
</div>
